<%- include header.ejs %>

<%- include bio.ejs %>

<%- include topproject.ejs %>

<%- include accolades.ejs %>

<%- include topsideproject.ejs %>

<div class="row">
  <div class="col">
    <h3>Am I a good fit for your organization?</h3>
    <p>If you like what you see so far the answer might well be yes. Of course I encourage you to check out all the other things I've done over on the <a href="/projects">projects</a> page, but if you already made up your mind I won't talk you out of it. In fact in fact you can use the <a href="/contacts">contact</a> page to reliably get a hold of me.</p>
  </div>

</div>

<%- include footer.ejs %>
